@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "宝信基础能源管理系统";
}

<link href="~/Content/SpryTabbedPanels.css" type="text/css" rel="stylesheet">
<script src="/Content/Scripts/SpryTabbedPanels.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
	var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
	var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
	var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
	d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
	if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
	for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
	if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
	var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

@section featured {
<section class="featured">
    <script type="text/javascript" src="~/Content/Scripts/jquery.cycle.all.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /* Dots Slider 1 */
            $(function() {
                $('#imageSlider').after('<div id="imageSliderNav">').cycle({
                    fx: 'fade', speed: 1050, timeout: 8000, pager: '#imageSliderNav'
                });
                MM_preloadImages('/baosight_portalHTML/images/nav_1_hover.jpg','/baosight_portalHTML/images/nav_2_hover.jpg','/baosight_portalHTML/images/nav_3_hover.jpg','/baosight_portalHTML/images/nav_4_hover.jpg')
            });
        });
    </script>
    <div class="content-wrapper">
        <div id="slider">
          <div id="imageSlider" style="position: relative; width: 933px; height: 374px; ">
          <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 933px; height: 374px; ">
              <div class="imageSliderInfo">
                  <h2>更直观更努力<br>只为您的快捷和便利 </h2>
                    <p>提供一系列数据推送、自动计算功能，提供所见即所得的报表修改。每天，您的数据都会以各种图表、仪表盘、主明细等多种方式详细展示...</p>
                    <a class="ui-btn ui-btn-big" href="#">查看更多?</a>
                </div>
              <div class="imageSliderImage">
                  <img src="/images/tmp_img.jpg" width="500" height="320" alt="photo is lost">
                </div>
            </div>
          <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 933px; height: 374px; ">
              <div class="imageSliderInfo">
                  <h2>全面而又丰富 <br>让您爱上它!</h2>
                    <p>您可以在运行时，选择不同的计量点、项目算法，也可以动态的增加计量点、工序、能介等各种概念。您甚至可以简单的定制报表甚至是画面，准备好了吗..</p>
                    <a class="/images/ui-btn ui-btn-big" href="#">查看更多</a>
                </div>
              <div class="imageSliderImage">
                  <img src="/images/tmp_img2.jpg" width="500" height="320" alt="photo is lost">
                </div>
            </div>
          <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 933px; height: 374px; ">
              <div class="imageSliderInfo">
                  <h2>更好的性能和交互<br>数据不再枯燥</h2>
                    <p>最高2万个计量点设计的数据架构，实现更大数据吞吐量；后台静默数据计算，无时无刻不在运转，你却无法感知；优化的归档策略，自动处理历史数据，减少数据库负载...</p>
                    <a class="ui-btn ui-btn-big" href="#">查看更多</a>
                </div>
              <div class="imageSliderImage">
                  <img src="/images/12.png" width="500" height="320" alt="photo is lost">
                </div>
            </div>
          <div class="imageSlide" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 933px; height: 374px; ">
              <div class="imageSliderInfo">
                  <h2>更少花费更易运维<br>让IT转向双赢</h2>
                    <p>多样化的运行环境，使用DB2及LINUX Server等软硬组件能够有效的降低成本。可选的组件，按需装配，只选你需要的。更简单的运维，减少人力和时间消耗；7*24小时远程支持加上现场支撑，接触您的后顾之忧...</p>
                    <a class="ui-btn ui-btn-big" href="#">查看更多</a>
                </div>
              <div class="imageSliderImage">
                  <img src="/images/13.png" width="500" height="320" alt="photo is lost">
                </div>
            </div>
        </div>
            <!--
            <div id="imageSliderNav">
                <a href="#" class="">1</a>
                <a href="#" class="">2</a>
                <a href="#" class="activeSlide">3</a>
                <a href="#" class="">4</a>
            </div>
            -->
        </div>
    </div>
</section>
}

<!--
<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features that let you create beautiful sites using the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more</a></li>
    
    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries<a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more</a>
        </li>
    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications. 
        Visit <a href="http://microsoft.com/web/hosting" title="Microsoft/Web Website">Microsoft.com/web</a> to 
        explore offerings from many providers.<a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more</a>
    </li>
</ol>
-->
<ul id="left">
	<li>
		<a href="http://icloud.baosight.com" target="_blank">
        <img src="images/link_1.jpg" width="232" height="68" border="0">
		</a>
	</li>
	<li>
		<a href="http://www.baosight.com/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=162&amp;nodeId=11" target="_blank">
            <img src="/images/link_2.jpg" width="232" height="76" border="0">
		</a>
	</li>
</ul>
<div id="middle">
	<div class="TabbedPanels" id="TabbedPanels1">
		<ul class="TabbedPanelsTabGroup">
			<li onclick="javascript:window.location.href='/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=7&amp;nodeId=8'" tabindex="0" class="TabbedPanelsTab">
				<span style="font-size:14px;">解决方案</span>
			</li>
			<li onclick="javascript:window.location.href='/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=23&amp;nodeId=24'" tabindex="0" class="TabbedPanelsTab TabbedPanelsTabSelected">
				<span style="font-size:14px;">服务</span>
			</li>
			<li onclick="javascript:window.location.href='http://products.baosight.com'" tabindex="0" class="TabbedPanelsTab">
				<span style="font-size:14px;">产品</span>
			</li>
		</ul>
		<div class="TabbedPanelsContentGroup">
			<div class="TabbedPanelsContent" style="display: none;">
				<ul class="block">
									<li>
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=126&amp;nodeId=10"><span style="color:#03f;">制造执行系统：</span>敏捷制造、精益生产首选产品</a>
									</li>
									<li>
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=130&amp;nodeId=10"><span style="color:#03f;">能源管控中心：</span>实现绿色制造的睿智选择</a>
									</li>
									<li>
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=41&amp;nodeId=45"><span style="color:#03f;">采购供应链系统：</span>集团一体化采购信息平台</a>
									</li>
									<li>
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=139&amp;nodeId=9"><span style="color:#03f;">智能建筑：</span>智能化构筑社会美好未来</a>
									</li>
									<div class="more">
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=7&amp;nodeId=8">+ more</a>
									</div>
								</ul>
			</div>
			<div class="TabbedPanelsContent TabbedPanelsContentVisible" style="display: block;">
				<ul class="block">
									<li>
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=23&amp;nodeId=24"><span style="color:#03f;">独特的四级技术支持体系</span></a>
									</li>
									<li>
										<a href="/baosight_portal/portal2/mana/view_nodes.jsp?catalogId=default&amp;nodeId=50"><span style="color:#03f;">全面的信息化外包服务</span></a>
									</li>
									<li>
										<a href="/baosight_portal/portal2/mana/view_nodes.jsp?catalogId=default&amp;nodeId=50"><span style="color:#03f;">专业的信息化技术服务</span></a>
									</li>
									<li>
										<a href="/baosight_portal/portal2/mana/view_nodes.jsp?catalogId=default&amp;nodeId=30"><span style="color:#03f;">BOO、灾难恢复等新兴集成服务</span></a>
									</li>
									<div class="more">
										<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=23&amp;nodeId=24">+ more</a>
									</div>
								</ul>
			</div>
			<div class="TabbedPanelsContent" style="display: none;">
				<ul class="block">
					<li>
						<a href="http://10.25.199.62:8080/SupportCenter/content/icv/index.html"><span style="color:#03f;">iCentroView：</span>一体化监控的有力工具</a>
					</li>
					<li>
						<a target="_blank" href="http://support.baosight.com/"><span style="color:#03f;">网络巡警eCop：</span>内网安全管理专家</a>
					</li>
					<li>
						<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=52&amp;nodeId=49"><span style="color:#03f;">全氢罩式炉：</span>带钢、线材退火的最佳性价比选择</a>
					</li>
					<li>
						<a href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=123&amp;nodeId=49"><span style="color:#03f;">标记装置SteelKiss：</span>冶金行业标记专家</a>
					</li>
					<div class="more">
						<a href="http://products.baosight.com">+ more</a>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="right">
	<h1>最新动态<span><a href="/baosight_portal/portal2/mana/view_nodes.jsp?catalogId=default&amp;nodeId=7">+ more</a></span></h1>					
    <marquee onmouseout="start()" onmouseover="stop()" scrollamount="2" direction="up">
	    <ul>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=478&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">宝信软件多举措力推产品战略</span><span style="width:28px"><img style="border:0;" src="http://www.baosight.com/baosight_portalHTML/images/topnew.gif"></span><span style="width:50px;*margin-top:-25px" class="date">[03-06]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=476&amp;nodeId=22" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">宝信软件参加上海软件行业协会企业合作沙龙</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[02-28]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=474&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">上海地铁检修施工管理系统项目第一阶段成功上线</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-22]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=473&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">工信部财政部物联网调研座谈会在宝信软件举行</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-22]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=472&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">“宝信企业信息化平台软件”被列入国家重点新产品计划</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-21]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=471&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">“应用系统资源管理装置”获浦东新区发明专利专项资助</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-21]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=470&amp;nodeId=22" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">宝信软件参加第三届中国智慧能源高峰会议</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-21]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=469&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">华鑫电气信息化实施项目需求确认评审会成功召开</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-11]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=468&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">宝信软件成功中标上海中心大厦楼宇设备自控及能源计量系统专业工程</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[01-09]</span>
		</a>
		</li>
		
		<li>
		<a target="_blank" href="/baosight_portal/portal2/mana/view_news.jsp?catalogId=default&amp;id=467&amp;nodeId=7" style="text-decoration:none;">
		<span style="width:230px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor:pointer;" class="news">公司连续中标申通地铁两个创新性项目</span><span style="width:28px">&nbsp;&nbsp;</span><span style="width:50px;*margin-top:-25px" class="date">[12-31]</span>
		</a>
		</li>
		
	</ul>
    </marquee>  
    <script type="text/javascript">
    <!--
    var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
    //-->
    </script>
</div>